body{
  margin:0;
  padding:0;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.main{
  height:520px;
  width:280px;
  background-color:black;
  margin-top:10%;
  border-radius: 6px;
}
.container2{
  height:150px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textarea{
  height:100px;
  width:100%;
  color:aliceblue;
  border:none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size:40px;
  margin-left: 10px;
  padding-right: 10px;
  overflow-x: auto;
}
.buttonarea{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.buttonarea2{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}